{% extends 'base.html' %}

{% block title_section %}Cadastrar Empresa{% endblock %}

{% block content %}
    <form class="form-group" method="post" action="{% url 'cadastrar_empresa' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Informações Gerais</legend>
            {{ form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Endereço</legend>
            {{ endereco_form.as_p }}
        </fieldset>
        <button type="submit" class="btn btn-lg btn-block btn-success">Cadastrar Empresa</button>

    </form>

{% endblock %}