{% extends 'base.html' %}

{% block title_section %}Empresa{% endblock %}

{% block content %}
    <form class="form-group" method="post" action="{% url 'visualizar_estudante' estudante.cpf %}">
        {% csrf_token %}
        <fieldset>
            <legend>Informações Gerais</legend>
            {{ form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Endereço</legend>
            {{ endereco_form.as_p }}
        </fieldset>
        <button type="submit" class="btn btn-lg btn-block btn-primary" name="atualizar" value="atualizar">Atualizar Estudante</button>
        <button type="submit" class="btn btn-lg btn-block btn-danger" name="deletar" value="deletar">Deletar Estudante</button>

    </form>
{% endblock %}